.footer {
  position: relative;
  background: grey;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 10;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.logo:hover {
  filter: invert(0);
}

.fab {
  color: #fff;
  font-size: 40px;
}

.fab:hover {
  color: #000;
}

i {
  padding: 5px;
}
